@using ICanWoofWoof.Models
@model CheckHelpersModel

<h2>Lets Check Some Helpers?</h2>

<div class="row-fluid">
    <div class="span12">
        <div class="knockout-container-collapser collapse-header-transitions">
            Collapser
        </div>
        <div class="container-fluid knockout-container collapse-transitions">
        
            @MyHelpers.DecoratedTextGreeting("username")
            @Html.LabelFor(m=>m.Name, new {style = "cursor: auto;" })
            @Html.TextBoxFor(m=>m.Name)

        </div>
    </div>
</div>
