@model dynamic

@section  Header
{
Lets Check the cool thing called modernizr
}

<div class="container-fluid">
    <div class="modernizer-container">
        <span class="label label-info">Checking textshadow</span>
        <div id="textShadowTest" style="width: 250px; height: 100px; margin-top: 10px;">
            This div got a textshadow
            <br />
            This div got a textshadow
            <br />
            This div got a textshadow
            <br />
        </div>
    </div>
    <div class="modernizer-container">
        <span class="label label-info">Checking transforms</span>
        <div id="testTransforms" style="width: 250px; height: 100px; margin-top: 10px;">
            This div got a csstransforms
            <br />
            This div got a csstransforms
            <br />
            This div got a csstransforms
            <br />
        </div>
    </div>

    <div class="modernizer-container">
        <span class="label label-info">Checking transforms3d</span>
        <div id="testTransforms3d" style="width: 250px; height: 100px; margin-top: 10px;">
            This div got a Transforms3d
            <br />
            This div got a Transforms3d
            <br />
            This div got a Transforms3d
            <br />
        </div>
    </div>

    <div class="modernizer-container">
        <span class="label label-info">Checking boxshadow</span>
        <div id="testBoxshadow" style="width: 250px; height: 100px; margin-top: 10px;">
            This div got a Boxshadow
            <br />
            This div got a Boxshadow
            <br />
            This div got a Boxshadow
            <br />
        </div>
    </div>
    
        <div class="modernizer-container">
        <span class="label label-info">Checking transitions</span>
        <div id="testTransitions" style="width: 250px; height: 100px; margin-top: 10px;">
            This div got a Transitions
            <br />
            This div got a Transitions
            <br />
            This div got a Transitions
            <br />
        </div>
    </div>
</div>
