@using System.Web.Optimization
@model dynamic

@section Scripts
{
    @Scripts.Render("~/Scripts/Custom/KnockoutSinglePage.js")
}

@section  Header
{
    Lets Check the cool thing called KnockoutJS.
    Single page application.
}


<div class="row-fluid">
    <div class="span12">
        <div class="knockout-container-collapser collapse-header-transitions">
            Collapser
        </div>
        <div class="container-fluid knockout-container collapse-transitions">
            <ul class="nav nav-pills tab-menu" data-bind="foreach: folders">
                <li data-bind="css: $root.tabClass($data), click: $root.goToFolder">
                    <a data-bind="text: $data"> </a>
                </li>
            </ul>
            
            <div>
                <table class="knockout-table " data-bind="css: { hidden: chosenMailData() != null}">
                    <thead>
                        <tr>
                            <th>From</th>
                            <th>To</th>
                            <th>Date</th>
                            <th>Subject</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: folderData">
                        <tr class="selectable" data-bind="click: $root.selectMail">
                            <td data-bind="text: From"></td>
                            <td data-bind="text: To"></td>
                            <td data-bind="text: Date"></td>
                            <td data-bind="text: Subject "></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div>
                <div data-bind="with: chosenMailData">
                    <p>From</p>
                    <p>To</p>
                    <p>Date</p>
                    <p>Subject</p>
                </div>

            </div>
        </div>
    </div>
</div>
